<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- %MLS_LOCAL_PACKAGE_PATH% = ../MarineLaceSpace\BuildingBlocks\Packages\MarineLaceSpacePackages-->
		<add key="MarineLaceSpaceLocal" value="%MLS_LOCAL_PACKAGE_PATH%" />
		<add key="githubMeinLiX" value="https://nuget.pkg.github.com/MeinLiX/index.json" />
	</packageSources>

	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>

	<disabledPackageSources>
	</disabledPackageSources>

	<packageSourceCredentials>
		<github>
			<add key="Username" value="%GITHUB_MLS_USER%" />
			<add key="ClearTextPassword" value="%GITHUB_MLS_PAT%" />
		</github>
	</packageSourceCredentials>
	
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>